<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Searchable Dropdown</title>
<link rel="stylesheet" href="/views/style.cssf vd ">
</head>
<body>

<div class="dropdown">
  <input type="text" placeholder="Search.." class="search-input">
  <div class="dropdown-content">
    <a href="#">Option 1</a>
    <a href="#">Option 2</a>
    <a href="#">Option 3</a>
    <a href="#">Option 4</a>
    <a href="#">Option 5</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>$(document).ready(function(){
  $('.search-input').keyup(function(){
    var searchText = $(this).val().toLowerCase();
    $('.dropdown-content a').each(function(){
      var text = $(this).text().toLowerCase();
      if(text.includes(searchText)){
        $(this).show();
      } else {
        $(this).hide();
      }
    });
    $('.dropdown-content').addClass('show');
  });
  
  $('.dropdown-content a').click(function(e){
    e.preventDefault();
    $('.search-input').val($(this).text());
    $('.dropdown-content').removeClass('show');
  });
  
  $(document).click(function(e) {
    if (!$(e.target).closest('.dropdown').length) {
      $('.dropdown-content').removeClass('show');
    }
  });
});
</script>
</body>
</html>
