<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Searchable Dropdown</title>
<link rel="stylesheet" href="/public/style.css">
</head>
<body>

<div class="dropdown">
  <input type="text" placeholder="Search.." class="search-input">
  <div class="dropdown-content">
    <% titles.forEach(function(title) { %>
      <a href="#"><%= title %></a>
    <% }); %>
  </div>
  
</div>
<button class="btn-recommend" id="recommend-btn">Recommend</button>

</body>
<script src="/public/script.js"></script>
</html>
