
body {
    background-image: url('/public/Designertest.png'); /* Adjust the path to your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fix the background image so it doesn't scroll with the content */
    font-family: Arial, sans-serif; /* Set the font family */
}

/* Custom CSS styles */
.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px auto; /* Center horizontally and add top margin */
  width: 300px; 
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure that padding and border are included in the width */
    font-size: 16px; /* Set the font size */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px; /* Add some margin to separate from the input */
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #e9e9e9;
}

.btn-recommend {
  position:relative;
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: 300px;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-recommend:hover {
    background-color: #0056b3;
}